.rescontainer
{
    margin-top: 32px;
    margin-left:28px;
}
.addres
{
    margin: 9px 0px;
    border: solid 2px black;
    width: 87px;
}
table{
    width:100%;
}
a:hover{
    color:black;
}